<header>
  <nav>
    <div class="nav-container">
      <h1><a href="/">AgriLinkHub</a></h1>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Solutions</a></li>
        <li><a href="/impact">Impact</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>